<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
       
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
       
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       
       http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
    
    
    <context:component-scan base-package="model"></context:component-scan>
    <context:component-scan base-package="repository"></context:component-scan>
    <context:component-scan base-package="entity"></context:component-scan>
    <context:component-scan base-package="SpringConfig"></context:component-scan>
    <context:component-scan base-package="services"></context:component-scan>
    <context:component-scan base-package="utils"></context:component-scan>
    
    <tx:annotation-driven/>
<!--    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/bbshop"/>
        <property name="url" value="jdbc:mysql://mysql52371-tmdt1.jelastic.tsukaeru.net:3306/bbshop"/>
        cấu hình để up lên host
        <property name="username" value="root"/>
        <property name="password" value="sa"/>
      
        
    </bean>-->
    
    
</beans>
