<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"  
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/mvc 
                http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                http://www.springframework.org/schema/aop                           
                http://www.springframework.org/schema/aop/spring-aop-3.1.xsd           

 ">
    <context:component-scan base-package="controller"></context:component-scan>
   
    
    <context:annotation-config/>
    <mvc:annotation-driven />
    
    <!--KHAI BÁO RESOURCE =======================================================================-->
    
    <mvc:resources mapping="/webjars/**" location="classpath:META-INF/resources/webjars/" />
    <mvc:resources mapping="/css/**" location="/resources/css/"/>
    <mvc:resources mapping="/js/**" location="/resources/js/"/>
    <mvc:resources mapping="/images/**" location="/resources/images/"/>
    <mvc:resources mapping="/fonts/**" location="/resources/fonts/"/>
    <mvc:resources mapping="/img/**" location="/resources/img/"/>
    
    <!--khai báo viewresolver để xử lý view===============================================================================================-->
   
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
      
    </bean>
    
    <!--upload file-->
    <mvc:default-servlet-handler/>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>
    
    
    <!--breadcrum-->

   
    
</beans>
